{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock title %}


{% block body %}
    <center>
        <form action="{% url 'updatepassword' %}" method="post">
            {% csrf_token %}
            <h1>Update Password</h1>
            <label for="pw">New Password</label>
            <input type="text" id="pw" name="pw"> <br><br>
            <label for="cpw">Confirm Password</label>
            <input type="text" id="cpw" name="cpw">
            <br><br>
            <input type="submit" value="Update Password">
        </form>
    </center>
{% endblock body %}
    